* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.App {
  max-width: 500px;
  width: 100%;
  min-height: 400px;
  box-shadow: 0 2px 6px #555;
  margin: 50px auto;
  padding: 50px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: #666;
}

form {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  display: flex;
}

form input,
form button {
  flex: 3;
  border: none;
  outline: none;
  border-bottom: 1px solid #555;
  margin: 0 5px;
}

form button {
  flex: 1;
  background: #555;
  color: white;
  cursor: pointer;
}

#flexContainer {
  display: flex;
  flex-direction: column;
}

#particularItem {
  background-color: aquamarine;
  margin: 5px 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#flexContainer .completed {
  background-color: tomato;
}

#flexContainer .disable-button {
  cursor: not-allowed;
}

.names {
  min-width: 95px;
  min-height: 30px;
  flex-grow: 1;
  word-break: break-all;
  margin: auto;
}

.buttons {
  min-width: 17px;
  margin: 2px 5px;
  cursor: pointer;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17px;
}
